body {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--gapBase) * 2);
  min-height: 100dvh;
  color: hsl(var(--mainColor));
  font-size: calc(1rem + 0.2dvw);
  background: url(assets/background.png) no-repeat center center fixed;
  background-size: cover;
  cursor: default;
}
body::selection{
  background-color: transparent;
}
* {
  transition: all 0.2s linear 0s;
}
:root {
  --gapBase: 8px;
  --mainColor: 0, 0%, 15%;
  --backgroundColor: 0, 0%, 100%;
}
h1 {
  font-size: calc(1.5rem + 0.2dvw);
  font-weight: bolder;
}
form {
  padding: calc(var(--gapBase) * 2);
  border-radius: var(--gapBase);
  background-color: hsl(var(--backgroundColor), 0.3);
  display: flex;
  gap: var(--gapBase);
  align-items: center;
}
input#location,
button {
  padding: calc(var(--gapBase) / 2);
  border: none;
  border-radius: calc(var(--gapBase) / 2);
}
input#location {
  width: calc(15rem + 0.2dvw);
}
button {
  cursor: pointer;
}
input#location:focus,
button:focus,
button:hover {
  outline: 1px solid hsl(var(--mainColor));
}
main {
}
a {
  align-self: flex-end;
  padding-right: var(--gapBase);
  padding-bottom: var(--gapBase);
  color: hsl(var(--mainColor));
  text-decoration: none;
  font-size: calc(0.8rem + 0.2dvw);
  bottom: 0;
}
/* Unit toggle */
.unit-toggle-container {
  display: flex;
  align-items: center;
  gap: calc(var(--gapBase));
}
.unit-toggle-btn {
  background-color: hsl(var(--backgroundColor), 0.3);
  height: 1.5rem;
  width: 4rem;
  border-radius: 999rem;
  cursor: pointer;
  position: relative;
}
.unit-toggle-btn::before {
  position: absolute;
  content: '';
  background-color: hsl(var(--mainColor), 0.7);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 999rem;
  transition: all 0.2s linear 0s;
}
input#unit-toggle-box:checked + .unit-toggle-btn::before {
  transform: translateX(2.5rem);
}
input#unit-toggle-box {
  display: none;
}
