body {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--gapBase) * 2);
  min-height: 100dvh;
  color: hsl(var(--mainColor));
  font-size: calc(1rem + 0.2dvw);
  background: url(assets/background.png) no-repeat center center fixed;
  background-size: cover;
  cursor: default;
}
body::selection {
  background-color: transparent;
}
:root {
  --gapBase: 8px;
  --mainColor: 0, 0%, 10%;
  --backgroundColor: 0, 0%, 100%;
}
@font-face {
  font-family: 'mckloud';
  src: url(assets/mckloud.ttf);
}
h1 {
  font-family: 'mckloud', sans-serif;
  font-size: calc(3rem + 0.2dvw);
  font-weight: bolder;
  margin-bottom: 0;
  text-shadow: 1px 1px 5px hsl(var(--backgroundColor), 0.3);
}
form {
  padding: calc(var(--gapBase) * 2);
  border-radius: var(--gapBase);
  background-color: hsl(var(--backgroundColor), 0.3);
  display: flex;
  justify-content: center;
  gap: var(--gapBase);
  align-items: center;
  box-shadow: 1px 1px 5px hsl(var(--mainColor), 0.7);  
}
input#location,
button {
  padding: calc(var(--gapBase) / 2);
  border: none;
  border-radius: calc(var(--gapBase) / 2);
}
input#location::selection {
  background-color: hsl(var(--mainColor), 0.7);
  color: hsl(var(--backgroundColor));
}
input#location {
  width: min(350px, 50dvw);
}
button {
  cursor: pointer;
}
input#location:focus,
button:focus,
button:hover {
  outline: 1px solid hsl(var(--mainColor));
}
a {
  align-self: flex-end;
  padding-right: var(--gapBase);
  padding-bottom: var(--gapBase);
  color: hsl(var(--mainColor));
  text-decoration: none;
  font-size: calc(0.8rem + 0.2dvw);
}
/* Unit toggle */
.toggles-container {
  display: flex;
  gap: calc(var(--gapBase) * 3);
}
.temp-unit-toggle-container,
.wind-unit-toggle-container {
  display: flex;
  align-items: center;
  gap: calc(var(--gapBase));
}
.temp-unit-toggle-container {
  border-right: 1px solid hsl(var(--mainColor));
  padding-right: calc(var(--gapBase) * 3);
}
.temp-unit-toggle-btn,
.wind-unit-toggle-btn {
  background-color: hsl(var(--backgroundColor), 0.3);
  height: 1.5rem;
  width: 4rem;
  border-radius: 999rem;
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 5px hsl(var(--mainColor), 0.7);
}
.temp-unit-toggle-btn::before,
.wind-unit-toggle-btn::before {
  position: absolute;
  content: '';
  background-color: hsl(var(--mainColor), 0.7);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 999rem;
  transition: all 0.2s linear 0s;
}
input#temp-unit-toggle-box:checked + .temp-unit-toggle-btn::before,
input#wind-unit-toggle-box:checked + .wind-unit-toggle-btn::before {
  transform: translateX(2.5rem);
}
input#temp-unit-toggle-box,
input#wind-unit-toggle-box {
  display: none;
}
/* Main forecast grid */
main {
  width: min(600px, 85dvw);
  padding-top: calc(var(--gapBase) * 4);
  display: grid;
  gap: var(--gapBase);
  grid-template-areas:
    'address address address address address address'
    '. . . . . .'
    '. . . . . .'
    'icon icon icon date-0 date-0 date-0'
    'icon icon icon conditions conditions conditions'
    'icon icon icon conditions conditions conditions'
    'day-lenght day-lenght day-lenght conditions conditions conditions'
    'day-lenght day-lenght day-lenght conditions conditions conditions'
    'day-lenght day-lenght day-lenght conditions conditions conditions'
    '. . . . . .'
    '. . . . . .'
    'date-1 date-1 date-2 date-2 date-3 date-3'
    'date-4 date-4 date-5 date-5 date-6 date-6';
}
main > div {
  padding: var(--gapBase);
  border-radius: var(--gapBase);
  background-color: hsl(var(--backgroundColor), 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 5px hsl(var(--mainColor), 0.7);  
}
.address {
  grid-area: address;
  aspect-ratio: 5 / 1;
}
.icon {
  grid-area: icon;
  aspect-ratio: 1 / 1;
}
.date-0 {
  grid-area: date-0;
  aspect-ratio: 3 / 2;
}
.day-lenght {
  grid-area: day-lenght;
  aspect-ratio: 1 / 1;
}
.conditions {
  grid-area: conditions;
  aspect-ratio: 3 / 4;
}
.date-1 {
  grid-area: date-1;
  aspect-ratio: 1 / 1;
}
.date-2 {
  grid-area: date-2;
  aspect-ratio: 1 / 1;
}
.date-3 {
  grid-area: date-3;
  aspect-ratio: 1 / 1;
}
.date-4 {
  grid-area: date-4;
  aspect-ratio: 1 / 1;
}
.date-5 {
  grid-area: date-5;
  aspect-ratio: 1 / 1;
}
.date-6 {
  grid-area: date-6;
  aspect-ratio: 1 / 1;
}
/* Spinner */
.spin{
  animation: spinner 3s linear infinite;
}
@keyframes spinner{
  from{
    transform: rotateZ(360deg);
  }
  to{
    transform: rotateZ(0deg);
  }
}
